<html>
<head>
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/assets/vendors/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://localhost:8082/assets/css/ent-chat.css">
    <link rel="stylesheet" href="/assets/css/style.css ">

</head>
<body>
<div class="container">
    {% block content %}{% endblock %}
</div>

{% include 'partials/support_container.twig' %}

<script src="/assets/vendors/jquery/jquery-3.1.0.min.js"></script>
<script src="/assets/vendors/jquery-ui-1.12.0/jquery-ui.min.js"></script>
<script src="/assets/vendors/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

<script src="http://localhost:8082/assets/js/ent-chat.js"></script>
<script src="/assets/js/app.js"></script>
</body>
</html>