{% extends 'base.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Site home page</h1>
        </div>
    </div>
</div>
   {% include 'partials/support_container.twig' %}
{% endblock %}